* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #29292e;
  --shadow: #050206;
  --purple: #835afd;
  --danger: #e73f5d;

  --gray-dark: #737380;
  --gray-medium: #a8a8b3;
  --gray-light: #dbdcdd;

  --pink-dark: #e559f9;
  --pink-light: #d67ee2;

  --hover-purple: #6f4bd8;
  --hover-damger: #d73754;
  --hover-gray-medium: #7e7e86;
  --hover-gray-light: #cecece;
}
body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
